@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color:#6352be;
  --bg-color:#fff;
  --text-color:black;
  --hover: rgb(55, 30, 122);

  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}
body.active{
  --text-color: white;
  --bg-color: black;


}
body{
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection{
  color: var(--bg-color);
  background: var(--main-color);
}

header{
  position: fixed;
  width: 100%;
  top:0;
  right: 0;
  z-index: 1000;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 18px 10%;
  transition: 0.2s;
}

header.shadow{
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.logo{
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
  
}

.logo:hover{
  color: var(--main-color);
}

.navbar{
  display: flex;
}

.navbar a{
  font-size: 1rem;
  padding: 10px 20px;
  color:var(--text-color);
  font-weight: 500;
}

.navbar a:hover{
  background-color: var(--main-color);
  border-radius: 5px;
  color: white;
}

#menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

#darkmode{
  font-size: 22px;
  cursor: pointer;
  padding-left: 20px;
}

#darkmode:hover{
  color: var(--main-color);
}

section{
  padding: 50px 10% ;
}


::-webkit-scrollbar {
    width: 14px;
    height: 16px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: rgb(230, 224, 224);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(156, 154, 154);
    background-clip: padding-box;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(124, 122, 122);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(128, 128, 128);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: rgb(230, 224, 224);

    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items:center;
  gap:8rem;
}

.home-img{
  order: 3;
}

.home-img img{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 80%;
}

.home-text span{
  font-size: var(--medium-font);
  font-weight: 500;
}

.home-text h1{
  font-size: var(--big-font);
}

.home-text h2{
  font-size: 1.1rem;
  font-weight: 400;
}

.home-text p{
  font-size: var(--p-font);
  font-weight: 400;
  margin:0.7rem 0 1rem;
}

.social{
  display: flex;
  flex-direction: column;
}

.social a{
  margin-bottom: 1rem;
  font-size:22px ;
  color: var(--text-color);
}

.social a:hover{
  color: var(--hover);
}

.btn{
  display: inline-block;

  background: var(--main-color);
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.btn:hover{
  background: var(--hover);
}

.scroll-down{
  position: absolute;
  bottom: 4rem;
  left: 700px;
  
}

.scroll-down a{
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--main-color);
}

.scroll-down .bx{
  color: var(--main-color);
  font-size: 24px;
}

.heading{
  text-align: center;
}

.heading h2{
  font-size: var(--medium-font);
}

.heading span{
  font-size: var(--p-font);
}

.about-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.about-img img{
  width: 80%;
  border-radius: 0.5rem;
}

.about-text p{
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}

.information{
  margin: 1rem 0 1.4rem;
}

.information .info-box{
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.information .info-box .bx{
  font-size: 22px;
}

.information .info-box span{
  font-weight: 400;
  margin-left: 1rem;

}

.skill-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top:3rem;
}

.skills-img img{
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}

.bars-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}
.bars-box h3, 
span{
  font-size: 1.1rem;
  font-weight: 500;
}

.light-bar{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background:rgb(174, 174, 202);
  border-radius: 0.5rem;
}

.percent-bar{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: var(--main-color);
  border-radius: 0.5rem
}
.html-bar{
  width: 80%;
}
.css-bar{
  width: 70%;
}
.javascript-bar{
  width: 0%;
}
.c-bar{
  width: 90%;
}
.sql-bar{
  width: 85%;
}
.uiux-bar{
  width: 90%;
}
.cp-bar{
  width: 30%;
}
.java-bar{
  width: 30%;
}
.certificates-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.certificates-box{
  padding: 20px;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 4px 4px 4px  rgb(0 0 0 / 10%);
   
}

.certificates-box h3{
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}

.certificates-box img{
  padding-top:1rem;
  width: 200px;
  height: 180px;
}
.certificates-box a{
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}

.contact-form{
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  width: 300px;
}
form input,
textarea{
  padding: 12px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
  color: var(--text-color);
}

form input::placeholder,
textarea::placeholder{
  color: var(--text-color);
}

form textarea{
  resize: none;
  height: 200px;
}

.contact-button{
  width: 80px;
  cursor: pointer;
  background: var(--main-color);
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact-button:hover{
  background: var(--hover);
}
.footer{
  display: grid;
  place-items: center;
  padding: 50px;
  background: var(--main-color);
  color: white;
}
.footer h2{
  font-size: var(--medium-font);
  margin-bottom: 1.4rem;
}
.footer-social a{
  color: white;
  font-size: 22px;
  padding: 10px;
}
@media (max-width:991px){
  header{
    padding: 18px 4%;
  }
  section{
    padding: 50px 4%;
  }
}
@media (max-width: 881px){
  :root{
    --big-font: 2.7rem;
    --meddium-font: 1.4rem;
  }
}
@media (max-width: 768px){
  :root{
    --big-font: 2.4rem;
    --meddium-font: 1.2rem;
  }
  header{
    padding: 11px 4%;
  }
  #menu-icon{
    display: initial;
    color: var(--text-color);
  }
  header .navbar{
    position: absolute;
    top: -500px;
    left:0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active{
    top:100%;
  }
  .navbar a{
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode{
   position: absolute;
    top:1.4rem;
    right: 2rem;
  }
  .scroll-down{
    position: absolute;
    bottom: 4rem;
    left: 200px;
  }
}

.copyright{
  padding: 20px;
  background: var(--main-color);
  text-align: center;
  color: white;
}
